name: Build

permissions:
  packages: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    env:
      USERNAME: jcable
      VCPKG_EXE: C:/vcpkg/vcpkg
      FEED_URL: https://nuget.pkg.github.com/jcable/index.json
      VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/jcable/index.json,readwrite"
    
    steps:
    # Set env vars needed for vcpkg to leverage the GitHub Action cache as a storage
    # for Binary Caching.
    - uses: actions/github-script@v7
      with:
        script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

    - name: Bootstrap vcpkg
      shell: pwsh
      run: C:/vcpkg/bootstrap-vcpkg.bat

    - name: Install python
      uses: actions/setup-python@v6

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '5.12.4'

    - name: Checkout code
      uses: actions/checkout@v4

    # - name: Install qt with vcpkg # libsndfile fdk-aac opus speexdsp soapysdr qwt
    #   run: |
    #     vcpkg install qwt --triplet x64-windows

    - name: Add NuGet sources
      shell: pwsh
      run: |
        .$(${{ env.VCPKG_EXE }} fetch nuget) `
          sources add `
          -Source "${{ env.FEED_URL }}" `
          -StorePasswordInClearText `
          -Name GitHubPackages `
          -UserName "${{ env.USERNAME }}" `
          -Password "${{ secrets.GITHUB_TOKEN }}"
        .$(${{ env.VCPKG_EXE }} fetch nuget) `
          setapikey "${{ secrets.GITHUB_TOKEN }}" `
          -Source "${{ env.FEED_URL }}"

    - name: Install dependencies with vcpkg
      run: |
        vcpkg install fftw3 zlib dlfcn-win32 winpcap pthreads libsndfile fdk-aac opus speexdsp soapysdr --triplet x64-windows

    - name: Download hamlib
      uses: robinraju/release-downloader@v1
      with:
        repository: 'Hamlib/Hamlib'
        tag: '4.6.5'
        fileName: 'hamlib-w64-4.6.5.zip'
        extract: true

    - name: Download qwt src
      uses: robinraju/release-downloader@v1
      with:
        repository: 'buaabyl/qwt_windows'
        latest: true
        zipBall: true
        extract: true

    - name: Download qwt bin
      uses: robinraju/release-downloader@v1
      with:
        repository: 'buaabyl/qwt_windows'
        tag: 'qtcreator-4.9-plugins'
        fileName: 'qt-5.12.4-msvc2017_amd64.zip'
        extract: true

    - name: Move library files where dream.pro expects
      shell: bash
      run: |
        mkdir -p include/qwt
        mkdir lib
        cp buaabyl-qwt_windows-d0644a6/src/*.h include/qwt
        cp qt-5.12.4-msvc2017_amd64/* lib
        cp -r C:/vcpkg/installed/x64-windows/include/* include
        cp -r hamlib-w64-4.6.5/include/* include
        cp -r C:/vcpkg/installed/x64-windows/lib lib
        cp hamlib-w64-4.6.5/lib/msvc/* lib

    - uses: ilammy/msvc-dev-cmd@v1

    - name: Build
      run: |
        qmake
        nmake

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dream-windows
        path: dream.exe
      
  build-everything-else:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt update
        sudo apt install -y libhamlib-dev libpulse-dev libfftw3-dev libopus-dev libsndfile-dev
        sudo apt install -y libspeexdsp-dev libgps-dev libpcap-dev libfdk-aac-dev libsoapysdr-dev
        sudo apt install -y libqwt-qt5-dev libqt5svg5-dev libqt5opengl5-dev libqt5gui5 libqt5widgets5
        sudo apt install -y qtbase5-dev qtbase5-dev-tools qt5-qmake

    - name: Build
      run: |
        qmake
        make

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dream-${{ matrix.os }}
        path: dream
